#about-dialog {
  font-size: larger;

  .dialog-header {
    text-align: center;
  }

  .level-colors {
    display: flex;
    justify-content: space-around;

    .color-block {
      width: 2em;
      height: 2em;
      filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.4));
    }
  }

  .level-emoji-row {
    display: flex;

    .level-emoji {
      font-size: x-large;
      width: 1.5em;
      text-align: center;
      filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.4));
    }
  }
}
