<div id="moves-tutorial" class="glass-dialog">
  <div class="up-finger-wrapper">
    <span class="up-finger">{{ indexFingerPointingUp() }}</span>
  </div>
  <h2 class="dialog-title">Hint: Moves</h2>
  <div mat-dialog-content class="content-body">
    @if (showIncrease()) {
      <p>Nice job!</p>
      <p>Moves are earned with <b>faster</b> and <b>longer</b> matches.</p>
    } @else {
      <p>Moves are limited; be strategic!</p>
    }
  </div>
  <div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" mat-dialog-close>Got It!</button>
  </div>
</div>
