<div id="tutorial-dialog">
  <h2 class="tutorial-title">
    How to play
    <div class="logo"></div>
  </h2>
  <mat-tab-group headerPosition="below">
    <mat-tab label="Matching">
      <div class="tutorial-1-backer"></div>
      <div class="tutorial-phrase">
        <p>Move rows right or left</p>
        <p>Match at least {{ matchTarget }} like pieces</p>
        <p>
          <span class="touch">Tap or press</span>
          <span class="click">Click or hold</span>
          <span> to complete the match!</span>
        </p>
      </div>
    </mat-tab>
    <mat-tab label="More hints...">
      <div class="tutorial-2-backer"></div>
      <div class="tutorial-phrase">
        <p>Moves are limited, so watch out!</p>
        <p>Moves are earned during play; be fast and be strategic!</p>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" mat-dialog-close><span>I got it!</span></button>
  </mat-dialog-actions>
</div>
