#tutorial-dialog {
  font-size: large;

  .tutorial-title {
    text-align: center;
    font-size: x-large;
    width: 100%;

    .logo {
      height: 3em;
      background-image: url("^assets/rikkle-final.webp");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.4));
    }
  }

  .tutorial-phrase {
    text-align: center;
    padding-bottom: 0.5em;
  }

  .touch {
    @media (pointer: fine) {
      display: none;
    }
  }

  .click {
    @media (pointer: coarse) {
      display: none;
    }
  }

  .tutorial-1-backer {
    background-image: url("^assets/tutorial/tutorial-touch-1.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 10em;
    @media (pointer: fine) {
      background-image: url("^assets/tutorial/tutorial-click-1.gif");
    }
  }

  .tutorial-2-backer {
    background-image: url("^assets/tutorial/tutorial-touch-2.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 10em;
    @media (pointer: fine) {
      background-image: url("^assets/tutorial/tutorial-click-2.gif");
    }
  }

  .mat-raised-button {
    font-size: x-large;
  }
}
