#share-content {
  position: absolute;
  bottom: 0;
  left: 0;

  .mat-mdc-fab {
    border-radius: 0.5em;
    margin: 0.25em;
  }

  .share-cta {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

  .show {
    opacity: 1;
  }
}
