<h2 class="dialog-header">
  <span *ngIf="data.isWelcome; else levelHeader">Welcome to {{ gameTitle }}!</span>
  <ng-template #levelHeader>Level Complete!</ng-template>
</h2>

<mat-dialog-content>
  <div class="intro" *ngIf="data.isWelcome; else levelContent">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <span>How to play?</span>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <p>
            <mat-icon>arrow_back</mat-icon>
            <mat-icon>arrow_forward</mat-icon>
            Move rows right or left
          </p>
          <p class="touch-input">
            <mat-icon>touch_app</mat-icon>
            Tap or press to make a match!
          </p>
          <p class="click-input">
            <mat-icon>mouse</mat-icon>
            Click/click-hold to make a match!
          </p>
          <p>
            Match <b>at least {{ matchTarget }} pieces</b> top-to-bottom or side-to-side
          </p>
          <p>
            <mat-icon>sentiment_very_satisfied</mat-icon>
            Earn moves by making faster matches and longer matches
          </p>
          <p>
            <mat-icon>bolt</mat-icon>
            Get <b>Power Moves</b> with longer matches
          </p>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <ng-template #levelContent>
    <table>
      <tr *ngIf="data.stats.fastMatchBonusTotal">
        <td>Speed bonus:</td>
        <td>{{ data.stats.fastMatchBonusTotal | number }}</td>
      </tr>
      <tr *ngIf="data.stats.fastMatchBonusTotal">
        <td>Fastest match time:</td>
        <td>{{ data.stats.fastestMatchMs / 1000 | number: "1.1-1" }}s</td>
      </tr>
      <tr *ngIf="data.stats.moveCount">
        <td>Moves used:</td>
        <td>{{ data.stats.moveCount }}</td>
      </tr>
      <tr *ngIf="data.stats.moveCountEarned">
        <td>Moves earned:</td>
        <td>{{ data.stats.moveCountEarned }}</td>
      </tr>
      <tr>
        <td>Piece count:</td>
        <td>{{ data.stats.pieceCount }}</td>
      </tr>
    </table>
  </ng-template>
  <mat-progress-bar class="progress" [class.fade-out]="!texturesStillLoading" [value]="progress"></mat-progress-bar>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" mat-dialog-close [disabled]="texturesStillLoading">
    <span *ngIf="data.isWelcome; else levelButtonContent">Play!</span>
    <ng-template #levelButtonContent>
      <span>Next Level, let's go!</span>
    </ng-template>
  </button>
</mat-dialog-actions>
