.dialog-header {
  text-align: center;
}

.progress {
  opacity: 1;
  transition: opacity 500ms;
  &.fade-out {
    opacity: 0;
  }
}

.click-input {
  display: block;
  @media (pointer: coarse) {
    display: none;
  }
}

.touch-input {
  display: block;
  @media (pointer: fine) {
    display: none;
  }
}
