#level-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;

  .dialog-header {
    text-align: center;
  }

  .content {
    flex: 1;
  }

  .level-info-line {
    display: none;
    &.show {
      display: flex;
      justify-content: space-between;
    }
  }

  .progress {
    opacity: 1;
    transition: opacity 500ms;
    &.fade-out {
      opacity: 0;
    }
  }
}
