<h2>
  <span *ngIf="data.isWelcome; else levelHeader">Welcome!</span>
  <ng-template #levelHeader>Level Complete!</ng-template>
</h2>

<mat-dialog-content>
  <div class="intro" *ngIf="data.isWelcome; else levelContent">
    <p>
      Game pieces can move <b>right</b> or <b>left</b>, or be flipped
      <b>up</b> or <b>down</b>. Tap or press a game piece to make a match!
    </p>
    <p>
      Must match <b>at least {{ matchTarget }} pieces</b> top-to-bottom or
      side-to-side.
    </p>
    <p>
      Watch your <b>moves</b>! You may only have a few moves left. Once your
      moves are all used up, the game is over.
    </p>
  </div>
  <ng-template #levelContent>
    <table>
      <tr>
        <td>Fastest match time:</td>
        <td>{{ data.stats.fastestMatchMs }}ms</td>
      </tr>
      <tr>
        <td>Move Count:</td>
        <td>{{ data.stats.moveCount }}</td>
      </tr>
      <tr>
        <td>Piece Count:</td>
        <td>{{ data.stats.pieceCount }}</td>
      </tr>
    </table>
  </ng-template>
  <mat-progress-bar
    class="progress"
    [class.fade-out]="!texturesStillLoading"
    [value]="progress"
  ></mat-progress-bar>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    mat-dialog-close
    [disabled]="texturesStillLoading"
  >
    <span *ngIf="data.isWelcome; else levelButtonContent">Play!</span>
    <ng-template #levelButtonContent>
      <span>Next Level, let's go!</span>
    </ng-template>
  </button>
</mat-dialog-actions>
