<div id="game-over">
  <h1 class="text-center">No More Moves</h1>
  <mat-dialog-content>
    <p class="game-over-emoji">{{ gameOverEmoji }}</p>
    <p class="text-center">You have exhausted your supply of moves!</p>
    <mat-progress-bar class="progress" [class.fade-out]="!texturesStillLoading" [value]="progress"></mat-progress-bar>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      *ngIf="!isLevelOne"
      mat-raised-button
      color="primary"
      [disabled]="texturesStillLoading"
      (click)="onCloseRestartLevel()"
    >
      Start Again at Level {{ data.level }}
    </button>
    <button mat-raised-button color="primary" [disabled]="texturesStillLoading" (click)="onCloseGameOver()">
      Start Over
    </button>
  </mat-dialog-actions>
</div>
