<div id="game-over" class="glass-dialog">
  <h1 class="text-center">No More Moves</h1>
  <mat-dialog-content>
    <p class="game-over-emoji">{{ gameOverEmoji }}</p>
    <p class="text-center">You have exhausted your supply of moves!</p>
    <wgl-progress-bar class="progress" [class.fade-out]="!texturesStillLoading" [value]="progress"></wgl-progress-bar>
    <wgl-high-scores></wgl-high-scores>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    @if (!isLevelOne) {
      <button mat-stroked-button color="primary" [disabled]="texturesStillLoading" (click)="onCloseRestartLevel()">
        Start Level {{ data.level }} again
      </button>
    }
    <button mat-raised-button color="primary" [disabled]="texturesStillLoading" (click)="onCloseGameOver()">
      @if (!isLevelOne) {
        <span>Start Over</span>
      } @else {
        <span>Play again!</span>
      }
    </button>
  </mat-dialog-actions>
</div>
