.class {
  color: #869900;
  color: #e0ff00;
  color: #ecff66;
  color: #fcffe6;
  color: #0c8700;
  color: #14e000;
  color: #74ff66;
  color: #50005c;
  color: #850099;
  color: #eb66ff;
  color: #930019;
  color: #f50029;
  color: #ff6680;
}
.class {
  color: #004867;
  color: #0078ab;
  color: #66d1ff;
  color: #e6f7ff;
  color: #1122ba;
  color: #7482ff;
  color: #24005c;
  color: #3c0099;
  color: #a266ff;
}
.class {
  color: #fff6e6;
  color: #996500;
  color: #ffa800;
  color: #ffcb66;
  color: #998300;
  color: #ffdb00;
  color: #869900;
  color: #e0ff00;
}
.class {
  color: #995400;
  color: #ff8c00;
  color: #ffba66;
  color: #fff4e6;
  color: #999100;
  color: #fff100;
  color: #fff766;
  color: #160863;
  color: #250da6;
  color: #8872ff;
}
.class {
  color: #991a00;
  color: #ff2c00;
  color: #ff8066;
  color: #ffeae6;
  color: #609900;
  color: #a0ff00;
  color: #c6ff66;
  color: #006d35;
  color: #00b558;
  color: #66ffb0;
  color: #c40098;
  color: #ff66dd;
  color: #76005b;
}
.class {
  color: #995c00;
  color: #ff9900;
  color: #ffc266;
  color: #fff5e6;
  color: #998900;
  color: #ffe500;
  color: #001f7a;
  color: #0033cc;
  color: #668cff;
  color: #26005c;
  color: #400099;
  color: #a666ff;
}
.class {
  color: #996e00;
  color: #ffb700;
  color: #fff8e6;
  color: #998c00;
  color: #ffea00;
  color: #c2ff00;
  color: #749900;
  color: #daff66;
}
.class {
  color: #fff1e6;
  color: #994400;
  color: #ff7200;
  color: #ffaa66;
  color: #108b00;
  color: #1be800;
  color: #78ff66;
  color: #004e63;
  color: #0082a6;
  color: #66deff;
  color: #910021;
  color: #f20036;
  color: #ff6688;
}
.class {
  color: #fff2e6;
  color: #994d00;
  color: #ff8000;
  color: #ffb366;
  color: #997a00;
  color: #ffcc00;
  color: #66beff;
  color: #003d6b;
  color: #0066b3;
  color: #1f005c;
  color: #330099;
  color: #9966ff;
}
.class {
  color: #f9ffe6;
  color: #729900;
  color: #beff00;
  color: #169100;
  color: #25f200;
  color: #7dff66;
  color: #006746;
  color: #66ffce;
}
.class {
  color: #ffe8e6;
  color: #991000;
  color: #ff1b00;
  color: #ff7666;
  color: #6a9900;
  color: #b1ff00;
  color: #007321;
  color: #00bf36;
  color: #66ff91;
  color: #6d005c;
  color: #b5009a;
  color: #ff66e8;
}
.class {
  color: #fff5e6;
  color: #995e00;
  color: #ff9c00;
  color: #ffc466;
  color: #997c00;
  color: #ffcf00;
  color: #959900;
  color: #f8ff00;
}
.class {
  color: #fff6e6;
  color: #996400;
  color: #ffa600;
  color: #ffca66;
  color: #007ea6;
  color: #004b63;
  color: #66daff;
  color: #23005c;
  color: #3a0099;
  color: #a066ff;
}
.class {
  color: #ff9200;
  color: #fff4e6;
  color: #995800;
  color: #ffbe66;
  color: #998500;
  color: #ffde00;
  color: #002776;
  color: #0041c4;
  color: #6698ff;
  color: #25005c;
  color: #3d0099;
  color: #a366ff;
}
.class {
  color: #e6f4ff;
  color: #003c6d;
  color: #0064b5;
  color: #66baff;
  color: #100e6a;
  color: #7d7aff;
  color: #1b17b0;
  color: #28005c;
  color: #430099;
  color: #a966ff;
}
.class {
  color: #992b00;
  color: #ff4700;
  color: #ff9166;
  color: #ffede6;
  color: #138d00;
  color: #1feb00;
  color: #7aff66;
  color: #003171;
  color: #0052bd;
  color: #66a9ff;
}
.class {
  color: #994b00;
  color: #ff7d00;
  color: #ffb166;
  color: #fff2e6;
  color: #006d35;
  color: #00b558;
  color: #66ffb0;
  color: #161cb5;
  color: #0d116d;
  color: #797eff;
}
.class {
  color: #fff0e6;
  color: #993f00;
  color: #ff6900;
  color: #ffa566;
  color: #007908;
  color: #00c90e;
  color: #66ff71;
  color: #021d79;
  color: #0330c9;
  color: #688bff;
}
.class {
  color: #fff1e6;
  color: #994600;
  color: #ff7400;
  color: #ffac66;
  color: #0e8800;
  color: #18e300;
  color: #76ff66;
  color: #007ea6;
  color: #004b63;
  color: #66daff;
  color: #91001d;
  color: #f20030;
  color: #ff6684;
}
.class {
  color: #994f00;
  color: #ff8300;
  color: #ffb566;
  color: #fff3e6;
  color: #997c00;
  color: #ffcf00;
  color: #ffe266;
  color: #00396d;
  color: #005fb5;
  color: #66b6ff;
  color: #20005c;
  color: #350099;
  color: #9b66ff;
}
.class {
  color: #899900;
  color: #e4ff00;
  color: #fcffe6;
  color: #0e8800;
  color: #18e300;
  color: #76ff66;
  color: #4d005c;
  color: #810099;
  color: #e766ff;
  color: #91001d;
  color: #f20030;
  color: #ff6684;
}
.class {
  color: #fff5e6;
  color: #995f00;
  color: #ff9e00;
  color: #00565f;
  color: #008f9e;
  color: #66f0ff;
  color: #20005c;
  color: #360099;
  color: #9c66ff;
}
.class {
  color: #ffe9e6;
  color: #991400;
  color: #ff2200;
  color: #ff7a66;
  color: #339900;
  color: #99ff66;
  color: #52005c;
  color: #880099;
  color: #ee66ff;
}
.class {
  color: #7f9900;
  color: #e5ff66;
  color: #fbffe6;
  color: #047f00;
  color: #6bff66;
  color: #58005c;
  color: #920099;
  color: #f866ff;
  color: #ff666f;
  color: #970008;
  color: #fc000e;
}
.class {
  color: #fffae6;
  color: #997d00;
  color: #ffe366;
  color: #c2ff00;
  color: #f9ffe6;
  color: #749900;
  color: #daff66;
  color: #20005c;
  color: #360099;
  color: #9c66ff;
  color: #62005c;
  color: #a30099;
  color: #ff66f6;
}
.class {
  color: #994e00;
  color: #ff8200;
  color: #ffb466;
  color: #fff3e6;
  color: #006a3f;
  color: #00b069;
  color: #66ffc1;
  color: #8b0039;
  color: #e8005f;
  color: #ff66a5;
}
.class {
  color: #0f0f6b;
  color: #1919b3;
  color: #7b7bff;
  color: #e9e9ff;
  color: #26005c;
  color: #400099;
  color: #a666ff;
  color: #5c005c;
  color: #990099;
  color: #ff66ff;
}
.class {
  color: #993d00;
  color: #ff6600;
  color: #ffa366;
  color: #fff0e6;
  color: #007a00;
  color: #00cc00;
  color: #66ff66;
  color: #001f7a;
  color: #0033cc;
  color: #668cff;
}
.class {
  color: #995400;
  color: #ff8c00;
  color: #ffba66;
  color: #fff4e6;
  color: #997200;
  color: #ffbe00;
  color: #ffd866;
  color: #999100;
  color: #fff100;
}
