<div
  class="game-container"
  [style.grid-template-rows]="GridTemplateRows"
  [style.grid-template-columns]="GridTemplateColumns"
>
  <div class="game-scoring" [class.show]="ShowScoreProgress">
    <span>Score: {{ scoringManager.Score | number }}</span>
    <span>Moves left: {{ scoringManager.PlayerMoves }}</span>
    <span>Level: {{ scoringManager.Level }}</span>
  </div>
  <wgl-canvas class="game-canvas"></wgl-canvas>
  <div class="level-progress" [class.show]="ShowScoreProgress">
    <div>{{ scoringManager.LevelProgress | number: "1.0-0" }}%&nbsp;</div>
    <mat-progress-bar value="{{ scoringManager.LevelProgress }}"></mat-progress-bar>
  </div>
</div>
