@import "../../../../style-values";

@mixin fader {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.game-container {
  height: 100%;
  background-color: #0f0f0f;
  color: #ffffff;
  display: grid;

  .game-scoring {
    font-size: x-large;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: unset;
    place-items: center;
    padding: 0.5em;
    @include fader;
    &.show {
      opacity: 1;
    }
    @media screen and (min-width: $min-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .moves-remaining {
        margin-top: 0.5em;
      }
    }
    .level-info {
      display: flex;
      align-items: center;
    }
  }
  .game-canvas {
    display: flex;
    justify-content: center;
  }
  .level-progress {
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding: 0.5em;
    @include fader;
    &.show {
      opacity: 1;
    }
    .mat-progress-bar {
      height: 1em;
    }
    @media screen and (min-width: $min-width) {
      align-items: unset;
    }
  }
}
