<div class="game-container">
  <div class="game-scoring">
    <p>Score: {{ scoringManager.Score }}</p>
    <p>Level: {{ scoringManager.Level }}</p>
  </div>
  <wgl-canvas class="game-canvas"></wgl-canvas>
  <div class="level-progress">
    <mat-progress-bar
      class="progress-horizontal"
      value="{{
        (scoringManager.CurrentLevelPieceCount /
          scoringManager.CurrentLevelTarget) *
          100
      }}"
    ></mat-progress-bar>
    <mat-spinner
      class="progress-spinner"
      mode="determinate"
      value="{{
        (scoringManager.CurrentLevelPieceCount /
          scoringManager.CurrentLevelTarget) *
          100
      }}"
    ></mat-spinner>
  </div>
</div>
