@import "../../../../style_values.scss";

@mixin fader {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.game-container {
  height: 100%;
  background-color: #0f0f0f;
  color: #ffffff;
  display: grid;

  .game-scoring {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em 0 0.5em;
    @include fader;
    &.show {
      opacity: 1;
    }
    @media screen and (min-width: $min-width) {
      padding-top: 0.5em;
      flex-direction: column;
      justify-content: unset;
      align-items: flex-end;
    }
    .moves-remaining {
      display: flex;
      align-items: center;
      font-size: large;
      .move-count {
        border: 0.125em solid lightgray;
        padding: 0.25em 0.5em;
        color: black;
        background-color: lightgray;
      }
    }
    .level-info {
      display: flex;
      align-items: center;
    }
  }
  .game-canvas {
    display: flex;
    justify-content: center;
  }
  .level-progress {
    display: flex;
    padding: 0 0.5em 0 0.5em;
    align-items: center;
    @include fader;
    &.show {
      opacity: 1;
    }
    .mat-progress-bar {
      height: 70%;
      @media screen and (min-width: $min-width) {
        height: 2em;
      }
    }
    @media screen and (min-width: $min-width) {
      align-items: unset;
      padding-top: 0.5em;
    }
  }
}
