@import "../style-values";

.app-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 0 1fr 0;
  overflow: hidden;

  @media screen and (min-width: $default-app-width) {
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgb(15, 15, 15) 20%,
      rgb(15, 15, 15) 80%,
      rgb(255, 255, 255) 100%
    );

    grid-template-columns: 1fr $default-app-width 1fr;
  }

  @media screen and (orientation: landscape) {
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgb(15, 15, 15) 20%,
      rgb(15, 15, 15) 80%,
      rgb(255, 255, 255) 100%
    );

    grid-template-columns: 1fr $landscape-width 1fr;
  }
}
