@import "../style-values";

.app-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 0 1fr 0;

  @media screen and (min-width: $default-app-width) {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(15, 15, 15, 1) 20%,
      rgba(15, 15, 15, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );

    grid-template-columns: 1fr $default-app-width 1fr;
  }

  @media screen and (orientation: landscape) {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(15, 15, 15, 1) 20%,
      rgba(15, 15, 15, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );

    grid-template-columns: 1fr $landscape-width 1fr;
  }
}
