@use '../style-values' as *;

.app-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 0 1fr 0;
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0);

  background-color: #000000;

  @media screen and (min-width: $default-app-width) {
    background-image:
      radial-gradient(ellipse at center, rgba(15, 15, 15, 0.25) 0%, rgba(0, 0, 0, 0.82) 100%),
      url('/RikkleBacker.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    grid-template-columns: 1fr $default-app-width 1fr;
  }
}
