@import "../style-values";

// .main-container {
//   height: 100%;
//   display: grid;
//   grid-template-rows: $toolbar-height 1fr;
//   overflow: hidden;

//   .toolbar-item-spacer {
//     flex: 1 1 auto;
//   }
// }

.app-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 0 1fr 0;

  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 0) 0%,
    rgba(15, 15, 15, 1) 20%,
    rgba(15, 15, 15, 1) 80%,
    rgba(15, 15, 15, 0) 100%
  );

  @media screen and (min-width: $default-app-width) {
    grid-template-columns: 1fr $default-app-width 1fr;
  }

  @media screen and (orientation: landscape) {
    grid-template-columns: 1fr $landscape-width 1fr;
  }
}
