<div id="game-menu">
  <button mat-fab color="primary" class="menu-cta" [class.show]="shareManager.InLevel" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="AboutClick()"><mat-icon>info</mat-icon><span>About this Level</span></button>
    <button mat-menu-item (click)="SaveState()"><mat-icon>save</mat-icon><span>Save Game</span></button>
    <a mat-menu-item href="https://turbogeekbear.com/projects/rikkle/story" target="_blank"
      ><mat-icon>open_in_new</mat-icon><span>Rikkle Website</span>
    </a>
  </mat-menu>
</div>
