<div id="game-menu">
  <button mat-fab color="primary" class="menu-cta" [class.show]="shareManager.InLevel" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="menu-version-header">
      <span>Version {{ appVersion }}</span>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="AboutClick()"><mat-icon>info</mat-icon><span>About this Level</span></button>
    <button mat-menu-item (click)="SettingsClick()"><mat-icon>settings</mat-icon><span>Settings</span></button>
    <button mat-menu-item (click)="InstallAppClick()">
      <mat-icon>get_app</mat-icon><span>Add to Home Screen</span>
    </button>
    <button mat-menu-item (click)="SaveState()"><mat-icon>save</mat-icon><span>Save Game</span></button>
    <!-- <a mat-menu-item href="https://turbogeekbear.com/projects/rikkle/story" target="_blank"
      ><mat-icon>open_in_new</mat-icon><span>Rikkle Website</span>
    </a> -->
  </mat-menu>
</div>
