@import "./style_values";

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// allow the header to be remain intractable while Angular
// Material's dialog is displayed
.cdk-overlay-container {
  top: $toolbar-height;
  height: calc(100% - $toolbar-height);
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0);
}

@keyframes dialog-slide-up {
  0% {
  }
  30% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}

.cdk-overlay-pane {
  transform: translateY(250%);
  animation: dialog-slide-up 0.5s forwards 0s ease-in-out;
}

.mat-toolbar {
  max-height: $toolbar-height;
}
