@import "./style-values";
@import "./style-fonts";

html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(15, 15, 15);
}

@keyframes dialog-slide-up {
  0% {
  }
  30% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}

.cdk-overlay-pane {
  transform: translateY(250%);
  animation: dialog-slide-up 0.5s forwards 0s ease-in-out;
}
