html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// allow the header to be remain intractable while Angular
// Material's dialog is displayed
.cdk-overlay-container {
  top: 64px;
  height: calc(100% - 64px);
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.75);
}
